
@{
    ViewBag.Title = "DelError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">

    </div><!-- /.page-header -->
    <h1 class="center" style="color:#478FCA">
        Bạn không thể xóa bởi vì sự ràng buộc với các bản ghi khác trong CSDL!!!
    </h1>
    <a class="center">@Html.ActionLink("Trang chủ", "CheckLogin", "AdminLogin")</a>

</div>


