
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">

    </div><!-- /.page-header -->
    <h1 class="center" style="color:#478FCA">
        Bạn không có quyền thực hiện chức năng này.
    </h1>

</div>

