
@{
    ViewBag.Title = "Index_TaiChinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">

    </div><!-- /.page-header -->
    <h1 class="center" style="color:#478FCA">
        Chào mừng đến với trang quản lí của Ban Tài chính<br />
        Tại đây bạn có thể thao tác các tác vụ trong giới hạn cho phép của nghiệp vụ.
    </h1>

</div>
