html, body {
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.bg-cyan {
	background-image: url(../images/reg/signup2.jpg);
}
.bg-signin {
	background-image: url(../images/reg/signin3.jpg);
}
.bg-signup {
	background-image: url(../images/reg/signup2.jpg);
}


.body-signin {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	padding-top: 200px
}
.body-signup {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	position: absolute;
    right: 30px;
}
.body {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	position: absolute;
    right: 30px;
}
.body-s {
	max-width: 450px;
}
.modal {
	padding: 25px 30px;
	background: rgba(255,255,255,0.9);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}
.modal a {
	color: #2da5da;
}

@media screen and (max-width: 600px) {
	.body-signup {
		padding: 20px;
	}
	.body-signin {
		padding: 20px;
	}
	.body {
		padding: 20px;
	}

}