@model TLCNVer6.Models.ThongTinPN

@{
    ViewBag.Title = "LocTheoDonVi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <i class="ace-icon fa fa fa-usd"></i> <a href="#">
                Báo cáo
            </a>

            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Lọc theo điều kiện
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-search" aria-hidden="true"></i> Báo cáo chi tiết phiếu nhập
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Export", "ThongTinPhieuNhap", FormMethod.Post))
                    {

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaDonVi, "Tên kho")
                            @Html.DropDownList("DonVi", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaDonVi, "", new { @class = "text-danger" })
                        </div>

                        <input class="btn btn-primary " type="submit" value="Submit" />
                        <button type="reset" class="btn btn-default">Bỏ qua</button>

                    }

                </div>
            </div>

        </div>
    </div>
</div>

